  .dropdown-toggle {
  background-color: #3498DB;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropdown-toggle:hover, .dropdown-toggle:focus {
  background-color: #2980B9;
}


/* Dropdown Content (Hidden by Default) */
.dropdown_search {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  padding: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

#close{
  font-size: 24px;
  float:right;

}

#close:hover,
#close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}