
.dropdown_search {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown_search a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

