ul, #permission_ul{
	list-style-type: none;
}
.nested{
	display: none
}
.fa{
	cursor: pointer;
}
.fa{
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}
.active {
  display: block;
}